body {
    margin: 0;
    background-image: url("https://www.fundssociety.com/sites/default/files/2020-02/island-1285147_1280.jpg");
    
    text-align: center;
    font-family: sans-serif;
    color:white;
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .container {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face { 
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    
    display: flex;
  }
  
  span {
    margin: auto;
    font-size: 2rem;
  }
  
  
  .carousel__face:nth-child(1) {
    background-image: url("https://images.pexels.com/photos/33669/frigate-bird-frigate-galapagos-seabird.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) { 
    background-image: url("https://images.pexels.com/photos/1190690/pexels-photo-1190690.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url("https://images.pexels.com/photos/1201431/pexels-photo-1201431.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url("https://images.pexels.com/photos/4743811/pexels-photo-4743811.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    transform: rotateY(120deg) translateZ(430px); }
  .carousel__face:nth-child(5) { 
    background-image: url("https://images.pexels.com/photos/4743767/pexels-photo-4743767.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
   transform: rotateY(160deg) translateZ(430px); }
  .carousel__face:nth-child(6) { 
    background-image: url("https://images.pexels.com/photos/4743809/pexels-photo-4743809.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
   transform: rotateY(200deg) translateZ(430px); }
  .carousel__face:nth-child(7) { 
    background-image: url("https://images.pexels.com/photos/4743758/pexels-photo-4743758.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
   transform: rotateY(240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    background-image: url("https://images.pexels.com/photos/3756590/pexels-photo-3756590.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    transform: rotateY(280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    background-image: url("https://images.pexels.com/photos/1201431/pexels-photo-1201431.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    transform: rotateY(320deg) translateZ(430px); }
  
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  