body {
    margin: 0;
    background-image: url("https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_1920,h_1080/https://tuhotelenecuador.com/wp-content/uploads/2019/10/turismo_ecuador_volcan_paisaje_paseo_tour.jpg");
    
    text-align: center;
    font-family: sans-serif;
    color:white;
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face { 
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    
    display: flex;
  }
  
  span {
    margin: auto;
    font-size: 2rem;
  }
  
  
  .carousel__face:nth-child(1) {
    background-image: url("https://img.goraymi.com/2018/08/24/64e4585ba43e13594eb925eea8d2c1a2_lg.jpg");
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) { 
    background-image: url("https://www.destinosturisticosonline.com/images/Ecuador-6.jpg");
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url("http://newselemigrante.files.wordpress.com/2013/03/800px-chimborazo2004.jpg");
    transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url("https://tecuentacuenca.com/wp-content/uploads/2020/07/nevado2.jpg");
    transform: rotateY(120deg) translateZ(430px); }
  .carousel__face:nth-child(5) { 
    background-image: url("https://d1bv4heaa2n05k.cloudfront.net/posts%2FRJa3E3iyZnbgpg6Nz%2F1443002049962-42212911_small.jpg");
   transform: rotateY(160deg) translateZ(430px); }
  .carousel__face:nth-child(6) { 
    background-image: url("https://i.pinimg.com/originals/f7/0c/36/f70c3687f5a04e9eb6419dac8154f5ed.jpg");
   transform: rotateY(200deg) translateZ(430px); }
  .carousel__face:nth-child(7) { 
    background-image: url("https://polimundo.com/wp-content/uploads/2017/05/cotopaxi2.jpg");
   transform: rotateY(240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    background-image: url("https://locuraviajes.com/wp-content/uploads/2012/04/Laguna_de_Limpiopungo_al-fondo_el_Volcan_Cotopaxi_thumb.jpg");
    transform: rotateY(280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    background-image: url("https://userscontent2.emaze.com/images/32aedc6a-dfc9-4149-b2fa-bb2bf983ee20/c8f36c76502051ac7b56175f6ace5794.png");
    transform: rotateY(320deg) translateZ(430px); }
  
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  